body{
	background-color: white;
}
header{
	height: 100px;
}
footer{
	text-align: center;
	height: 80px;
	border-top: 1px solid #f1d1ff;
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
	padding-top: 10px;
	background: linear-gradient(to top,#f1d1ff,white);
}
a:link, a:visited{
	color: #c900f1;
}
a:hover{
	/*ADD STYLE*/
}
.small-icon{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.bd-btm{
	background-color: white;
	text-align: center;
	border-bottom: 1px solid #f1d1ff;
	border-bottom-right-radius: 20px; 
	border-bottom-left-radius: 20px;
	background: linear-gradient(to bottom,#f1d1ff,white);
}
.shop-items{
	padding-top:30px;
	margin-bottom: 10px;
}
.shop-item{
	padding: 10px;
	text-align: center;
	margin: 15px 15px 15px 15px;
	border-radius: 20px;
	border: 1px solid #f1d1ff;
	background-color: #edf7f6;
}
.buy-btn{
	border: 1px solid gray;
	border-radius: 20px;
	padding: 5px;
	cursor: pointer;
}
.cartWrapper:hover #cartShow{
 	display: block;
 	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#cartShow{
 	display: none;
 	position: absolute;
 	right: 50px;
 	border: 1px solid #ebc1ff;
 	background-color: rgba(243, 224, 252, 0.6);
 	z-index: 1;
 	width: 200px;
}
#cartShow a{
	color: black;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 0px;
	margin-left: 0px; 
	width: 48%;
	cursor:pointer;
}
#checkout-form{
	width: 500px;
	padding: 30px;
	border-radius: 20px;
	background: linear-gradient(to bottom,#f1d1ff,white);
	margin-top: 30px;
}
.checkout-form-item{
	margin-bottom: 10px;
}
ul{
	list-style: none;
	list-style-position: inside;
	padding: 0px;
}
li:before{
	content:'✖';
}
