@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body{
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.2em;
	background-color: black;
}
header{
	text-align: center;
}
footer{
	text-align: center;
	height: 80px;
	border-top: 1px solid #f1d1ff;
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
	padding-top: 10px;
	/*background: linear-gradient(to top,#f1d1ff,white);*/
	background-color: black;
}
a:link, a:visited{
	color: white;
}
a:hover{
	/*ADD STYLE*/
}
.small-icon{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.bd-btm{
	border-bottom: 1px solid #f1d1ff;
	border-bottom-right-radius: 20px; 
	border-bottom-left-radius: 20px;
}
.shop-items{
	padding-top:30px;
	margin-bottom: 10px;
}
.shop-item{
	padding: 10px;
	text-align: center;
	margin: 15px 15px 15px 15px;
	border-radius: 20px;
	border: 1px solid #f1d1ff;
	/*background: linear-gradient(to top,#d03dff,#db68ff);*/
	background: linear-gradient(to top,#e14fff,white);
}
.buy-btn{
	border: 1px solid gray;
	border-radius: 20px;
	padding: 5px;
	cursor: pointer;
}
.cartWrapper:hover #cartShow{
 	display: block;
 	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#cartShow{
	color: black;
 	display: none;
 	position: absolute;
 	right: 50px;
 	border: 1px solid #ebc1ff;
 	background-color: rgba(243, 224, 252, 0.7);
 	z-index: 1;
 	width: 250px;
}
#checkout-form{
	width: 500px;
	padding: 30px;
	border-radius: 20px;
	background: linear-gradient(to bottom,#f1d1ff,white);
	margin-top: 30px;
}
.checkout-form-item{
	margin-bottom: 10px;
}
ul{
	list-style: none;
	list-style-position: inside;
	padding: 0px;
}
li:before{
	content:'✖';
}
